@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');

p {
  margin: 12.5px 0 5px; }

pre .hljs {
    padding: 10px;
}

#page-content-wrapper section pre .hljs {
    padding: 10px;
}     

.jumbotron {
    padding-top: 80px;
    padding-bottom: 20px;
}

.jumbotron h1 {
    font-size: 32px;
}

body {
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

code, kbd,pre,samp {
    font-family: 'Roboto Mono',Menlo,Consolas,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,sans-serif;

}

