*~
build
.bundle
vendor/bundle
*.iml
.idea
atlassian-ide-plugin.xml
target
result
log-test.properties
package-lock.json
pgdata
travis
fixtures
.airframe
.bloop
.metals
null
.DS_Store
*.log

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

# For Docusaurus 2
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
.docusaurus
.cache-loader
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


**/log/*json*
.vscode/launch.json
**/metals.sbt
settings.json

.bsp
/airframe-rx-widget/yarn.lock
