sudo: false
dist: trusty

language: scala

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

scala:
  - 2.12.1
  - 2.11.8

env:
  - PROJECT=logJVM
  - PROJECT=logJS

script: sbt ++$TRAVIS_SCALA_VERSION $PROJECT/test

matrix:
  include:
    - scala: 2.12.1
      env: PROJECT=logJVM COVERAGE_REPORT=true
      script:
      - sbt ++$TRAVIS_SCALA_VERSION "; coverage; $PROJECT/test; coverageReport"
      - sbt coverageAggregate coveralls

