[project]
	description = Dependency injection library tailored to Scala
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Taro L. Saito (xerial)
[access "refs/for/refs/*"]
	read = group user/Taro L. Saito (xerial)
	push = group user/Taro L. Saito (xerial)
	label-Code-Review = -2..+2 group user/Taro L. Saito (xerial)
	label-Verified = -1..+1 group user/Taro L. Saito (xerial)
	rebase = group user/Taro L. Saito (xerial)
	removeReviewer = group user/Taro L. Saito (xerial)
	submit = group user/Taro L. Saito (xerial)
[access "refs/heads/*"]
	read = group user/Taro L. Saito (xerial)
	create = group user/Taro L. Saito (xerial)
	push = +force group user/Taro L. Saito (xerial)
	pushMerge = group user/Taro L. Saito (xerial)
[access "refs/tags/*"]
	push = group user/Taro L. Saito (xerial)
	push = +force group user/Taro L. Saito (xerial)
