:root{
  --ifm-color-primary-lightest: #095376;
  --ifm-color-primary-lighter: #084A69;
  --ifm-color-primary-light: #084664;
  --ifm-color-primary: #07405B;
  --ifm-color-primary-dark: #063A52;
  --ifm-color-primary-darker: #06364D;
  --ifm-color-primary-darkest: #052D40;
}
