@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

strong {
    color: #333333;
    font-weight: 800;
}

pre {
    margin-top: 0px;
    line-height: 1.4em;
}

.docs #page-content-wrapper section pre {
    margin-top: 0px;
}

.docs #page-content-wrapper section pre .hljs {
    margin-top: 0px;
    padding: 10px;
}

.docs #page-content-wrapper section pre {
    background-color: #121225;
    color: #cccccc;
}

.edit-button {

}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 20px;

    background-attachment: scroll;
    background: url("../img/jumbotron_pattern.png") no-repeat center;
    background-color: #143F56;
}

.jumbotron h1 {
    font-size: 32px;
}

.docs #wrapper {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.docs #sidebar-wrapper {
    left: initial;
}

/*
.icon-wrapper, .text-center, .hidden-xs, #sidebar li, .edit-button {
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'goudy old style', 'minion pro', 'bell mt', 'Hiragino Kaku Gothic ProN', serif, "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo;
}

body {
    font-family: Georgia, 'goudy old style', 'minion pro', 'bell mt', 'Hiragino Kaku Gothic ProN', serif, "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo;
    line-height: 1.4;
}

code, kbd, pre, samp {
    font-family: 'Roboto Mono', Menlo, Consolas, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, sans-serif;
}
*/

td code {
    font-size: 11px;
}

.sidebar-nav > li a.active {
    background-color: #345F76;
}

table td, table th {
    font-size: 13px;
}

table th {
    font-weight: bold;
    background: #eef0ee;
}


pre .hljs {
    padding: 10px;
}


.hljs-comment,
.hljs-quote {
    color: #f1c2a2;
}

/* Ocean Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #d04754;
}

/* Ocean Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #99b2e8;
}

/* Ocean Yellow */
.hljs-attribute {
    color: #f1ce88;
}

/* Ocean Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #f5b2a8;
}

/* Ocean Blue */
.hljs-title,
.hljs-section {
    color: #21c5d2;
}

/* Ocean Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #c192bd;
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #c8cdd6;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

