@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');

p {
  margin-top: 12px;
  margin-bottom: 12px;
}

strong {
  color: #333333;
  font-weight: 800;
}

pre {
  margin-top: 0px;
}

pre .hljs {
    padding: 10px;
}

#page-content-wrapper section pre {
  margin-top: 0px;
}

#page-content-wrapper section pre .hljs {
  margin-top: 0px;
  padding: 10px;
}

.jumbotron {
    padding-top: 80px;
    padding-bottom: 20px;
}

.jumbotron h1 {
    font-size: 32px;
}

body {
    font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

code, kbd,pre,samp {
    font-family: 'Roboto Mono',Menlo,Consolas,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,sans-serif;
}
