name: Coverage

on:
  pull_request:
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.java'
      - '**.sbt'
      - '**/codecov.yml'

jobs:
  coverage:
    name: Coverage test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Scala 2.13 test with coverage report
        run: ./sbt "; coverage; projectJVM/test; projectJVM/coverageReport; projectJVM/coverageAggregate"
      - uses: codecov/codecov-action@v3
        with:
          name: airframe-coverage
          file: ./projectJVM/target/scala-2.13/scoverage-report/scoverage.xml
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: ./projectJVM/target/scala-2.13/scoverage-report
