name: Doc

on:
  push:
    branches:
      - master
    paths:
      - '**/*.md'
      - 'docs/**'

jobs:
  doc:
    name: Update docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.x'
      - name: Install Jekyll
        run: |
          gem install sass
          gem install jekyll -v 3.8.5
      - name: Setup Git
        run: |
          git config --global user.email "leo@xerial.org"
          git config --global user.name "Taro L. Saito"
          git config --global push.default simple
      - name: Setup Deploy
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          gpg --quiet --batch --yes --decrypt --passphrase="$PGP_PASSPHRASE" \
          --output $HOME/airframe-doc-deploy-key $GITHUB_WORKSPACE/.github/secrets/airframe-doc-deploy-key.gpg
          chmod 600 $HOME/airframe-doc-deploy-key
          cp $HOME/airframe-doc-deploy-key ~/.ssh/id_rsa
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-doc-${{ hashFiles('build.sbt') }}-${{ hashFiles('docs/src/**') }}
          restore-keys: |
            ${{ runner.os }}-doc-${{ hashFiles('build.sbt') }}-${{ hashFiles('docs/src/**') }}
            ${{ runner.os }}-doc-${{ hashFiles('build.sbt') }}-
            ${{ runner.os }}-doc-
      - name: Publish doc
        run: ./sbt "; docs/makeMicrosite; docs/publishMicrosite"
