name: Doc

on:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - 'website/**'
      - '.github/workflows/doc.yml'

jobs:
  doc:
    name: Update docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Git
        run: |
          git config --global user.email "leo@xerial.org"
          git config --global user.name "Taro L. Saito"
          git config --global push.default simple
      - name: Setup Deploy
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          gpg --quiet --batch --yes --decrypt --passphrase="$PGP_PASSPHRASE" \
          --output $HOME/airframe-doc-deploy-key $GITHUB_WORKSPACE/.github/secrets/airframe-doc-deploy-key.gpg
          export GIT_DEPLOY_KEY="$(cat $HOME/airframe-doc-deploy-key)"
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-mdocs-${{ hashFiles('docs/**') }}
          restore-keys: |
            ${{ runner.os }}-mdocs-${{ hashFiles('docs/**') }}-
            ${{ runner.os }}-mdocs-
      - name: Publish doc
        run: ./sbt docs/docusaurusPublishGhpages
