name: CI Packaging

on:
  push:
    branches:
      - main

jobs:
  changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      packaging: ${{ steps.filter.outputs.packaging }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            packaging:
              - '**.scala'
              - '**.java'
              - '**.sbt'
              - '.github/workflows/package-test.yml'
  test_packaging:
    name: Packaging Test
    runs-on: ubuntu-latest
    needs: changes
    if: needs.changes.outputs.packaging == 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          # Fetch all tags so that sbt-dynver can find the previous release version
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Packaging test
        run: ./sbt publishAllLocal
