name: CI Packaging

on:
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.java'
      - '**.sbt'
      - '.github/workflows/package-test.yml'

jobs:
  test_packaging:
    name: Packaging Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Packaging test
        run: ./sbt publishAllLocal
