name: Release Scala JVM

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  publish_jvm:
    name: Publish Scala JVM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 10000
      # Fetch all tags so that sbt-dynver can find the previous release version
      - run: git fetch --tags -f
      # Install OpenJDK 11
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - uses: olafurpg/setup-gpg@v3 # Necessary for using GPG1
      - name: Setup GPG
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
        run: echo $PGP_SECRET | base64 --decode | gpg --import --batch --yes
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-release-${{ hashFiles('**/*.sbt') }}
          restore-keys: ${{ runner.os }}-release-
      - name: Build bundle
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: ./sbt "; + projectJVM/publishSigned; sbtAirframe/publishSigned;"
      - name: Release to Sonatype
        env:
          SONATYPE_USERNAME: '${{ secrets.SONATYPE_USER }}'
          SONATYPE_PASSWORD: '${{ secrets.SONATYPE_PASS }}'
        run: ./sbt sonatypeBundleRelease
