name: Release Scala.js

on:
  push:
    tags:
      - v*

jobs:
  publish_js:
    name: Publish Scala.js
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v5
        with:
          java-version: adopt@1.11
      - uses: olafurpg/setup-gpg@v2 # Necessary for using GPG1
      - name: Setup GPG
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
        run: echo $PGP_SECRET | base64 --decode | gpg --import --batch --yes
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-release-js-${{ hashFiles('**/*.sbt') }}
          restore-keys: ${{ runner.os }}-release-js-
      - name: Build for Scala.js 0.6.x
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: SCALAJS_VERSION=0.6.32 ./sbt "; + projectJS/publishSigned"
      - name: Build for Scala.js 1.0.x
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: SCALAJS_VERSION=1.0.0 ./sbt "; + projectJS/publishSigned"
      - name: Release to Sonatype
        env:
          SONATYPE_USERNAME: '${{ secrets.SONATYPE_USER }}'
          SONATYPE_PASSWORD: '${{ secrets.SONATYPE_PASS }}'
        run: SCALAJS_VERSION=1.0.0-RC2 ./sbt sonatypeBundleRelease
