name: Release Scala.js

on:
  push:
    tags:
      - v*

jobs:
  publish_js:
    name: Publish Scala.js
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 10000
      # Fetch all tags so that sbt-dynver can find the previous release version
      - run: git fetch --tags -f
      - uses: olafurpg/setup-scala@v5
        with:
          java-version: adopt@1.11
      - uses: olafurpg/setup-gpg@v2 # Necessary for using GPG1
      - name: Setup GPG
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
        run: echo $PGP_SECRET | base64 --decode | gpg --import --batch --yes
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-release-js-${{ hashFiles('**/*.sbt') }}
          restore-keys: ${{ runner.os }}-release-js-
      - name: Build for Scala.js 1.0.x
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        run: SCALAJS_VERSION=1.1.1 ./sbt publishJSSigned
      - name: Release to Sonatype
        env:
          SONATYPE_USERNAME: '${{ secrets.SONATYPE_USER }}'
          SONATYPE_PASSWORD: '${{ secrets.SONATYPE_PASS }}'
        run: SCALAJS_VERSION=1.1.1 ./sbt sonatypeBundleRelease
